.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	background-color: var(--accent);
	border-radius: 10px;
}

.logo h1 {
	font-size: 2.2rem;
	font-weight: 500;
}

.leftContainer > span {
	font-size: 1.3rem;
	color: var(--text-dim);
}

.rightContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 2px;
}

.numberOfTasks {
	font-size: 2rem;
	color: var(--accent);
}

.numberOfTasks span {
	color: var(--text-dim);
}

.completed {
	font-size: 1.3rem;
	color: var(--text-dim);
}
