.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.container input {
	width: 100%;
	padding: 10px 20px;
	background-color: var(--bg);
	color: var(--text);
	border-radius: 8px;
	letter-spacing: 0.5px;
	transition: border 0.2s;
}

.input {
	border: 1px solid var(--border);
}

.input:focus {
	outline: none;
	border: 1px solid var(--accent);
}

.container label {
	color: var(--text-dim);
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

input:-webkit-autofill {
	background-color: var(--surface) !important;
	-webkit-text-fill-color: var(--text) !important;
	-webkit-box-shadow: 0 0 0 1000px var(--surface) inset !important;
	transition: background-color 5000s ease-in-out 0s;
}

.inputError {
	border: 1px solid var(--delete);
}

.inputError:focus {
	outline: none;
	border: 1px solid var(--delete);
}

.error {
	font-size: 14px;
	margin: 3px 0 0 10px;
	color: var(--delete);
}

.eyeBtn {
	position: absolute;
	top: 50%;

	right: 10px;
	color: var(--text-faint);
	background: none;
	border: none;
	transform: translateY(-50%);
	transition: 0.3s color;
}

.eyeBtn:hover {
	color: var(--text-dim);
}

.inputBox {
	position: relative;
	width: 100%;
}
