.authPage {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 80px 15px 15px 15px;
	min-height: 100dvh;
	overflow: hidden;
}

@media (min-width: 1024px) {
	.authPage {
		align-items: start;
		padding: 150px 15px 15px 15px;
	}
}
