.form {
	display: flex;
	gap: 15px;
	padding: 8px 8px 8px 16px;
	background-color: var(--surface);
	border: 1px solid var(--border);
	border-radius: 10px;
}

.form input {
	width: 100%;
	background: none;
	border: none;
	color: var(--text);
	font-size: 1.5rem;
}

.form input:focus {
	outline: none;
}
