.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list ul {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.list span {
	color: var(--text-dim);
	font-size: 14px;
	margin: 20px auto;
}
