.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.logo span {
	font-size: 3rem;
	font-family: Fraunces, serif;
	font-weight: 500;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 34px;
	height: 34px;
	background-color: var(--accent);
	border-radius: 10px;
	box-shadow: 0 6px 20px rgba(245, 181, 68, 0.15);
}
