.hero {
	position: relative;
	width: 100%;
	padding: 90px 15px 30px 15px;
	min-height: 100dvh;
	overflow: hidden;
}

.container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr;
	align-content: start;
	gap: 30px;
}

.mainContent {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hero h1 {
	font-family: Fraunces, serif;
	font-weight: 600;
	font-size: 3.6rem;
}
.break {
	display: none;
}

.hero h2 {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.5;
	color: var(--text-dim);
}

.buttonsBox {
	display: flex;
	gap: 20px;
}

.hero p {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-dim);
	font-size: 1.4rem;
}


@media (min-width: 768px) {
	.break {
		display: inline;
	}
}

@media (min-width: 1024px) {
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container {
		grid-template-columns: 55% 1fr;
	}

	.hero h1 {
		font-size: 4.8rem;
	}

	.hero p {
		font-size: 1.5rem;
	}

	.hero h2 {
		font-size: 1.8rem;
		line-height: 1.8;
	}

	.buttonsBox {
		margin: 25px 0 25px 0;
	}


}