.btn {
	padding: 5px 10px;
	background-color: transparent;
	color: var(--text-dim);
	border: none;
	font-size: 14px;
	font-family: 'Hanken Grotesk', sans-serif;
	cursor: pointer;
	transition: color 0.2s;
}

.btn:hover {
	color: var(--text);
}

.active {
}
