:root {
	--bg: #0a0a0b;
	--surface: #0b0b0b;
	--surface-light: #121212;
	--surface-very-light: #202020;
	--border: rgba(255, 255, 255, 0.07);
	--border-light: rgba(255, 255, 255, 0.13);
	--text: #ededef;
	--text-dim: #818193;
	--text-faint: #56565e;
	--accent: #f5b544;
	--accent-dim: #f5b44471;
	--accent-faint: #f5b44413;
	--accent-hover-dark: #f5b44426;
	--accent-hover-light: #ffc052;
	--delete: #ff6347;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;
	min-height: 100dvh;
	font-size: 1.6rem;
	min-height: 100dvh;
	background-color: var(--bg);
	color: var(--text);
	font-family: 'Hanken Grotesk', sans-serif;
}

button {
	font-family: 'Hanken Grotesk', sans-serif;
	cursor: pointer;
}

input {
	font-family: 'Hanken Grotesk', sans-serif;
}

a {
	text-decoration: none;
}

@media (min-width: 968px) {
	body {
		padding: 150px 15px 15px 15px;
		align-items: start;
	}
}
